body { 
    background-color:gainsboro;
}
h1 {
    color: violet;
}
h2{
    background-color:gainsboro;
    color:violet;
}
p {
    font-size: large;
    text-align: center;
    font-weight: bold;
    color:rgb(76, 108, 153);
}
img{
    max-width: 25%;
    max-height: 25%;
}
ol li {
    font-size: 30px;
    color: blueviolet;
}
ul li {
    color: green;
    font-weight: bold;
    background-color: #dcf539;
    text-align: center;
}

.enviar{
    border-radius: 5px;
    background-color: asffec;
    color:#dcf539;
}
.sesion{
    background-color:greenyellow;
}
.etiqueta{
    background-color:#fff5e9;
}
.registrar{
    background-color:greenyellow;
}
.Nombre{
    background-color: rosybrown;
}
.Apellido{
    background-color: rosybrown;
}
.Email{
    background-color: rosybrown;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1{
    color: #333;
}
p{
    color: #666;
}
button{
    padding: 10px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
:root{
    --white: #ffffff;
    --black:#000000;
    --purple:#6f2cff;
    --red-heart:#a50954;
    --blue-heart:#acd9b2;
    --sm:14px;
    --md:20px;
    --lg:60px;
}